.rowRoster {
  border-bottom: 0.15rem solid #7b7f82;
}

.rowRoster td {
  text-align: center;
  padding: 0.5rem 0;
}

.playerData {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
