.teamSection {
  width: 100vw;
  height: 85vh;
  overflow-y: scroll;
  z-index: 2;
  position: relative;
  padding: 0 1.5rem;
}

.backgroundImage {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 30%;
}
