.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 16rem;
  height: 10rem;
  background-color: #727c83;
  border: 0.15rem solid black;
  border-bottom: 0.5rem solid #101417;
  box-shadow: 0.1rem 0.1rem 1.5rem black;
  border-radius: 4%;
}

.card:hover {
  background-color: #fff;
}

.cardName {
  font-size: 12px;
}

.linkContainer {
  display: flex;
  width: 16rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
