.playersSection {
  background-color: #36454f;
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding: 0 0.2rem;
}

.searchContainer {
  height: 15vh;
  position: relative;
}

.input {
  width: 40rem;
  height: 3rem;
  padding: 0 1.5rem;
  border: 0.18rem solid #868e96;
  border-radius: 5rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.input:focus {
  outline: none;
  border: 0.18rem solid #212529;
}

.leadersContainer {
  width: 100vw;
  height: 60vh;
}

.leadersTitle {
  padding: 1rem 0;
}
