.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 15vh;
}

.pageTitle {
  font-size: 3.5rem;
  font-weight: 800;
  color: #fff;
  font-style: italic;
}
