* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

:root {
  --NJD: #ce1126;
  --NYI: #00539b;
  --NYR: #0038a8;
  --PHI: #f74902;
  --PIT: #cfc493;
  --BOS: #ffb81c;
  --BUF: #003087;
  --MTL: #af1e2d;
  --OTT: #da1a32;
  --TOR: #ffffff;
  --CAR: #ce1126;
  --FLA: #c8102e;
  --TBL: #ffffff;
  --WSH: #c8102e;
  --CHI: #cf0a2c;
  --DET: #ce1126;
  --NSH: #ffb81c;
  --STL: #002f87;
  --CGY: #d2001c;
  --COL: #6f263d;
  --EDM: #ff4c00;
  --VAN: #00843d;
  --ANA: #f47a38;
  --DAL: #006847;
  --LAK: #a2aaad;
  --SJS: #006d75;
  --CBJ: #ce1126;
  --MIN: #a6192e;
  --WPG: #004c97;
  --ARI: #8c2633;
  --VGK: #b4975a;
  --SEA: #355464;
}
