.table {
  table-layout: fixed;
  width: 85%;
  overflow: scroll;
  border-collapse: collapse;
}

.head {
  border-bottom: 0.1rem solid #ced4da;
  border-top: 0.1rem solid #ced4da;
}

.head th {
  width: 5%;
  padding: 1rem 0;
}

.head th:nth-child(2) {
  width: 15%;
}

.body tr:nth-child(odd) {
  background-color: #4a5760;
}
